@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'https://fonts.googleapis.com/css?family=Raleway';

body, html {
	background-color: #ecf0f1;
	padding: 0;
	margin: 0;
}

.all-page {
	width: 100%;
	height: 100vh;
	background-color: #ecf0f1;
}

.logo-page {
	width: 100%;
	height: 30%;

	background-position: center left;
}

.splash {
	width: 100%;
	height: 400px;
	background-color: white
}

.splash img {
	display: block;
	width: 17%;
	height: 140px;
	margin: 0px auto;
	padding-top: 70px;
	text-align: center;
}

hr {
	width: 80%;
	margin: 10px auto;
}

.splash p {
	color: white;
	width: 80%;
	margin: 5px auto;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #B24357;
}

.splash h1 {
	color: white;

	width: 80%;
	margin: 0px auto;
	color: #B24357;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

#log {
	padding-top: 10px;
	height: 70px;
}

.login-page {
	width: 100%;
	height: 70%;
	background-color: white
}

.login-page h1 {
	width: 90%;
	text-align: center;
	margin: 0 auto;
	padding-top: 15px;
	color: #B24357;
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
}

.login-page p {
	width: 80%;
	color: #B24357;
	margin: 5px auto;
	text-align: center;
}

.login-page p a {
	background-color: transparent;
	color: #B24357;

	font-size: 15px;
}

.login-page p a:hover {
	color: #B24357;
	cursor: pointer;
}

.login-page input {
	display: block;
	width: 70%;
	height: 45px;
	margin: 10px auto;
	padding-left: 10px;
	border: 1px solid #7f8c8d;
}

.login-page input:hover, .login-page input:focus {
	border-color:  #B24357;
	outline: none;
}

.login-page a {
	display: block;
	background-color: #B24357;
	width: 70%;
	margin: 10px auto;
	height: 45px;
	color: white;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	padding-top: 10px;
}

.login-page a:hover {
	color: white;
	text-decoration: none;
}

.menu {
	background-color: #B24357;
	width: 100%;
	height: 90px;
	margin-bottom: 10px;
}

.submenu {
	display: flex;
	flex-wrap: wrap;
	margin-top: 12px;
}

.pestana {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	text-align: center;
	width: 100px;
	color: white;
	margin: 5px auto;
	margin-bottom: 0;
	display: inline-block;
}

.seleccionado {
	border-bottom: 3px solid white;
}


.users {
	width: 90%;
	height: 60px;
	margin: 5px auto;


}

.user {
	display: inline-block;
	width: 60px;
	height: 60px;
	margin: 5px auto;
	border-radius: 4px;

}

.user img {
	border-radius: 18%;
	width: 100%;
  height: 121%;
}

.user p {
	max-width: 80%;
	margin: -5px auto;
	text-align: center;
	color:  #B24357;
	font-family: 'Raleway', sans-serif;
	font-weight: 700
}

.mensajes {
	width: 90%;
	height: 300px;
	overflow-y: scroll;
	margin: 10px auto;
	margin-top: 10px;
}

.mensaje {
	padding: 5px 5px;
	width: 100%;
	min-height: 20px;
	margin-top: 5px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
}

.usuario {
	color: #B24357;

}

.mensaje .user {
	position: relative;
	left: 5px;
	margin: 5px 5px;
	margin-top: 20px;
	margin-left: 0px;
	top: 20px;
}

.mensaje p {
	width: 200px;
	min-height: 10px;
	margin-left: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.box {
	width: 90%;
	margin: 5px auto;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
	background-color: white;
}

.box .in {
	width: 55%;
	height: 50px;
	padding-left: 25px;
	padding-top: 0px;
	border: none;
	border-radius: 5px;
}

.box .in:focus {
	outline: none
}

.box .send  {
	background-color: #B24357;
	box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
	width: 38px;
	height: 38px;
	border-radius: 70%;
	border: none;
	margin-left: 5px;
	position: relative;
	right: -34px;
	top: 0px;
	color: white;
	text-align: center;
}

.send:hover {
	cursor: pointer;
}

.perfil {
	width: 100%;
	margin: 0px auto;
	background-color: #B24357;
	margin-top: -12px;
}

.portada {
	width: 100%;
	height: 270px;
	color: white;
	text-align: center;
}

.raya {
	width: 80%;
	height: 1px;
	background-color:#7f8c8d;
	margin: 5px auto;
	margin-top: 15px;
	border-radius: 5px;
}

i.remove {
	display: inline-block;
	float: right;
	color: #7f8c8d;
}

.m {
	display: inline-block;
	border: none;
	border-radius: 25px;
	background-color: white;
	color: #B24357;
	width: 35%;
	height: 40px;
	margin: 5px auto;
	margin-top: 10px;
	box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 12px;
}

.receptor {
	width: 90%;
	margin: 5px auto;
	height: 70px;
	margin-bottom: 10px
}

.receptor a {
	color: #7f8c8d;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 16px;
	display: inline-block;
	margin-left: 10px;
	position: relative;
	top: 15px;
}


.receptor img {
	width: 70px;
	height: 70px;
	margin-left: 80px;
	border-radius: 70%;
	box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
}

.opciones {
	color: white;
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	height: 40px;
	text-align: center;
	margin: 0 auto;
	margin-top: 15px;
}

.portada i {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	color: white
}

.portada p {
	color: white;
	width: 80%;
	margin: 5px auto;
	text-align: center;
}

.foto {
	width: 80%;
	margin: 10px auto;
	text-align: center;
}

.foto img {
	width: 100px;
  height: 128px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 26px;
  margin-left: 9px;
}

.portada h1 {
	margin: 0 auto;
	margin-top: -25px;
	text-align: center;
	width: 80%;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 21px;
	margin-bottom: 15px;
}

.muro {
	width: 90%;
	margin: 5px auto;
}

.pub {
	padding: 20px;
	margin-top: 5px;
	width: 100%;
	background-color: white;
	min-height: 100px;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
}

.pub img {
	width: 95%;
	height: 150px;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
}

.heart {
	display: block;
	width: 100%;
	margin-left: 0px;
	height: 30px;
	margin-top: 25px;
}

.heart i {
	position: relative;
	left: 0px;

}

iframe {
	border: none;
	border-radius: 5px;
}

.all {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background-color: #B24357;
}

.logo {
	width: 80%;
	margin: 0px auto;
	text-align: center;
	padding: 15px;
	padding-top: 90px;
}

.logo img {
	display: block;
	width: 50%;
	height: 160px;
	margin: 10px auto;
}

.all p {
	width: 80%;
	color: white;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin: 0 auto;
	font-size: 18px;
}

.comentario {
	font-family: 'Raleway', sans-serif;
	border: 1px solid #B24357;
	border-radius: 4px;
	height: 35px;
	padding: 5px;
	padding-left: 10px;
	display: inline-block;
	width: 78.5%;
}

.comentario:focus {
	outline: none
}

.enviar-comentario {
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	height: 35px;
	padding: 5px;

	background-color: #B24357;
	border-radius: 4px;
	border: 1px solid #B24357;
	color: white;
}

.enviar-comentario:hover {
	box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
}

.colorpicker {
	top: 400px !important;
}

*:focus {
	outline: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: #B24357;
		border-color: #B24357;
		color: white;
    cursor: inherit;
    display: block;
}


.scroll {
	overflow-x: scroll;
	overflow-y: hidden;
	width: 90%;
	white-space: nowrap;
	display: flex;
	margin: 10px auto;
	margin-top: -47px
}

/* Avatar */
#container {
    margin: 0 auto;
    width: 100%;  /* Ancho del contenedor */
}

#container input {
	height: 2.5em;
	visibility: hidden;
}

#container label {
	display: inline-block;
	width: 250px;
	background: #f9f9f9;  /* Fondo de las pestañas */
	border-radius: .25em .25em 0 0;
	color: #888;  /* Color del texto de las pestañas */
	cursor: pointer;
	float: left;
	font-size: .95em;  /* Tamaño del texto de las pestañas */
	height: 4.5em;
	line-height: 2.5em;
	margin-right: .50em;
	padding: 1em 2.5em;
	text-align: center;
	border-radius: 17px;
	margin-left: .50em
}

#container input:hover + label {
	background: #ddd;
	color: #666;
}

#container input:checked + label {
	background: rgb(178, 67, 87);  /* Fondo de las pestañas al presionar */
	color: white; /* Color de las pestañas al presionar */
	position: relative;
	z-index: 6;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);

}

#content {
	background: #f1f1f1;  /* Fondo del contenido */
	border-radius: 0 .25em .25em .25em;
	min-height: 18em;  /* Alto del contenido */
	position: relative;
	width: 90%;
	margin: 10px auto;
	z-index: 5;
}

#content div {
	opacity: 0;
	padding: 0.1em;
	position: absolute;
	z-index: -100;

	transition: all linear 0.1s;

}

#content-1 p {
	clear: both;
	margin-bottom: 1em;
}
#content-1 p.left img {
	float: left;
	margin-right: 1em;
}
#content-1 p.last {
	margin-bottom: 0;
}

#content-2 p {
	float: left;
	width: 48.5%;
}
#content-2 p.column-right {
	margin-left: 3%;
}
#content-2 p img {
	display: block;
	margin: 0 auto 1em auto;
}
#content-3 p,
#content-3 ul {
	margin-bottom: 1em;
}
#content-3 ul {
	margin-left: 2em;
}

#container input#tab-1:checked ~ #content #content-1,
#container input#tab-2:checked ~ #content #content-2,
#container input#tab-3:checked ~ #content #content-3 {
    opacity: 1;
    z-index: 100;
}

input.visible {
  visibility: visible !important;
}

#content img {
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 0px 65px;
	background: white;
	padding: 10px;
	border-radius: 70%;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

#content div {
	overflow-x: scroll;
	overflow-y: hidden;
	width: 90%;
	white-space: nowrap;
	margin: 0px auto;
}

#avatar {
	display: block;
	padding: 5px;
	padding-bottom: 0px;
	margin-left: 110px;
	margin-top: 5px;
	padding-right: 20px;
	width: 183px;
	height: 200px;

	margin-bottom: 40px;
}

.save__avatar {
	background: rgb(178, 67, 87);  /* Fondo de las pestañas al presionar */
	color: white;
	border: none;
	border-radius: 35px;
	height: 60px;
	width: 200px;
	display: block;
	margin: 5px auto;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.data {
	background: rgb(178, 67, 87);
	color: white;
	width: 100%;
	padding: 10px;
	height: 50px;
}

.data i {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 24px;
}

.data h5 {
	display: inline-block;
	position: relative;
	top: -3px;
}

.circle__ {
	display: inline-block;
	width: 35px;
	height: 35px;
	margin: 5px;
	border-radius: 50%;
	background-color: red;
}

.simple__ {
	list-style: none;
	display: block;
	position: relative;
	top: 0px;
	left: 10px;
	margin: 0px auto;
	z-index: 10001;
}

.simple__ li {
	display: inline;
}

.scrollsito {
	overflow-x: scroll;
	overflow-y: hidden;
	width: 90%;
	white-space: nowrap;
	margin: 0px auto;
}
